#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
    
    
}
p #erreurlastName,#erreurFirstName,#erreurEmail,#erreurMessage{
color: #911C1C !important;

}
.info-rectangle{
    position: fixed;
    display: flex;
    height: 57px;
    width: 315px;
    right: 15%;
    top: 94%;
    background: #DB8876;
    border-radius: 5px;
    padding-left: 20px;
}
.info-rectangle p{
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    
}
.heart2{
    margin-top: 20px;
    margin-left: 5px;
}
.info-rectangle .price{
    margin-left: 30%;
}

.choice-select{
    background-color: #911C1C;
}

.pLightbox{
    position: absolute;
    left: 27.54%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
}
.container {
    margin: auto;
    /* margin-left: 3%;
    margin-right: 3%; */
    max-width: 1350px;
  }
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}
.closeIconLightbox{
    float: right;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
 .modal-lightbox{
    padding-left: 10%;
    padding-right: 10%;} 
.modal-form{
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 5%;} 
 
.header-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;  
}
.modal header ,.header-modal{
    justify-content: space-between;
    width: 100%;
}

.header-modal img {
    cursor: pointer;
}
.imageLightbox{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}
.imageLightbox img{
 position: relative; 
    object-fit: cover;
  padding: 0;
  width: 900px;
  height: 900px;
  max-width: 1200px;
}
.modal .header-modal h1{
    font-size: 64px;
    color: black;
    font-weight: normal;
    text-align: center;
}
.name{
    font-size: 35px;
    /* font-weight: normal;
    text-align: center;  */
    width: 100%; 
    line-height: 24px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
/* color: #000000; */
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
    margin-top: 21px;
   }

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: self-start; */
    /* margin-bottom: 12px; */
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.photograph-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}
.photograph-header img{
border-radius: 50%;
height: 200px;
width:200px;
}
/*/////////creation//////////////:*/
.photograph-creation{
    padding-left: 3%;
    padding-right: 8%;}
    .choice{
        padding-left: 5%;
    padding-top: 3%;
    }
    label {
        font-family: sans-serif;
        font-size: 1rem;
        padding-right: 10px;
    }
    
    select{
        color: white;
        background: #911C1C !important;
        font-size: 0.9rem;
        padding: 2px 5px;
        border-radius: 5px;
    }
 
#galerie {
    border-radius: 15px;
    width: 94%;
    margin-left: 5%;
   
}.heart {
    display: flex;
    position: relative;
    line-height: 2;
     margin-top: 3px;
     align-items: center;
    /* margin-left: 36%;   */
 }
  .heart:hover {
    color: #901C1C;
    transition: color 1s;
  }
  .fa-2x {
    font-size: 1em !important;
}
.heart p{
    margin-right: 5px;
}
  
  /* .heart2 {
    position: absolute;
    color: white;
    margin-top: -47px;
    margin-left: 3.5px;
    font-size: 25px;
  } */
  .heart1:hover {
    color: #901C1C;
    transition: color 1s;
  }
  
  .heart1 {
    position: relative;
  }
  
#galerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2%;
    
}
/* #galerie h1,
h4 {
    margin-left: 34px;
    font-weight: bold;
}

h2 {
    margin-left: 5%;}

#galerie h4 {
    margin-top: 23px;
    color: black;
} */

#galerie a {
    text-decoration: none;
}


.numberLikes{
    margin-right: 4px;
}
.like{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.silver:before {
    color: #c0c0c066;
}

/* .galerie-case h4 {
    font-size: 10px;
}

.galerie-case a,
.txt-populaire a {
    color: black;
    text-decoration: none;
} */


#galerie,
#galerie .galerie-case,
#galerie img {
    /* width: 100%; */
    object-fit: cover;
}

/* #galerie .galerie-case {
    background-color: white;
   
    border-radius: 15px;
   
} */

#galerie p {

        margin-top: 4px;
        margin-bottom: 8px;

}
/* .like p:hover{
    color: #911C1C;
} */
#galerie img ,video{
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
   
}
#message{
Height:170px;
}
