body{
    background-color:white;
}
header{
    height: 60px !important;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 0!important;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
    
    
}
main{
    margin-left: auto;
    margin-right: auto;
}
p #erreurlastName,#erreurFirstName,#erreurEmail,#erreurMessage{
color: #911C1C !important;

}

.info-rectangle{
 position: fixed;
 z-index: 1;
 display: flex;
  bottom: 0;
  right: 10%;
  width: 300px;
  align-items: baseline;
  background: #DB8876;
  border-radius: 5px;

    /* position: fixed;
    display: flex;
    height: 57px;
    width: 315px;
    right: 15%;
    top: 93%;
    background: #DB8876;
    border-radius: 5px;
    padding-left: 20px; */
}
.info-rectangle p{
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    
}

.heart2{
    margin-top: 20px;
    margin-left: 5px;
}
.info-rectangle .price{
    margin-left: 30%;
}
.photograph-information{
    width: 29%;
}
#choice-select{
    z-index: 1;
    padding: 4px; 
    border-radius: 7px;
    display: flex;
    width:auto;
    flex-direction: column;
align-items: flex-start;
    margin-top: -6px;

background: #911C1C;

}
#choice-select button{
    /* padding-top: 2px; */
    border-radius: 7px;
    
    margin-top: 3px;
    color: white;
background: #911C1C;
border: none;
}
#choice{
    display: none;
}
hr{
    width: -webkit-fill-available;
}
hr ,.date,.titre{
    display: none;
}
.contactez-moi{
    color: #000000;
}
.icon-bas {
    margin-bottom: -3px;
    margin-left: 32px;
    width: 16px;
    height: 16px;
}
.galerie-case{
    width: 80%;
}

.pLightbox{
    text-align: start;
    margin-left: 10%;font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
color: #911C1C;
}
.container {
    margin: auto;
   
    max-width: 1350px;
  }

.closeIconLightbox{
    float: right;
}
.modal-contact input,.contact_button {
    font-size: 20px;
    margin-right: 40%;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
}
/* .modam-contact{
    text-decoration: none;
    color: white;
} */
.modal-contact :hover,.modal-contact :focus {
   
    cursor: pointer;
    color: #000000;
    outline:  2px solid  #DB8876;  
    background-color:#DB8876 ;

} 


 .modal-lightbox{
    padding-left: 10%;
    padding-right: 10%;} 
.modal-form{
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
   } 
 
.header-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%; 
    width: 84%; 
}
.photograph-information h1{
    color: #D3573C;
}
.photograph-information h2 {
    color: #901C1C;
}
option{
    padding: 2px;
    color:white;
}
.modal header ,.header-modal{
    justify-content: space-between;
    width: 100%;
}

.header-modal img {
    cursor: pointer;
}
.imageLightbox{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}
.icon-dropDown{
    display: inline;
}
.imageLightbox img{
     object-fit: cover;
  padding: 0;
  width: 72%;
  height: 900px;
  max-width: 1200px;
  
}
.imageLightbox video{
object-fit: cover;
 padding: 0;
 width: 80%;
 height: 900px;
 max-width: 1200px;
 
}

.previous-image img,.next-image img {
    width: 42px;
    height: 42px;
}
.modal .header-modal h1{
    font-size: 64px;
    color: black;
    font-weight: normal;
    text-align: center;
}
.name{
    font-size: 35px;
    /* font-weight: normal;
    text-align: center;  */
    width: 100%; 
    line-height: 24px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
/* color: #000000; */
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
    margin-top: 21px;
   }

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: self-start; */
    /* margin-bottom: 12px; */
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-header{
    background-color: #FAFAFA;
    border-radius:6px;
    height: 300px;
    width: 94%;
    margin-left: 3%;
   display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 3%;
    padding-right: 3%; */
}
.photograph-header img{
border-radius: 50%;
height: 200px;
width:200px;
}

/*/////////creation//////////////:*/

.choice{
    margin-left: 3%;
    position: absolute;
    display: flex;
    margin-top: 2%;
}
    label {
        font-family: sans-serif;
        font-size: 1rem;
        padding-right: 10px;
    }
    
   
#galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    justify-items: center;
    border-radius: 15px;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    padding-top: 6%;
}


.heart {
    display: flex;
    position: relative;
    line-height: 2;
     margin-top: 3px;
     align-items: center;
    /* margin-left: 36%;   */
 }
  .like:hover {
    color: #901C1C;
    transition: color 1s;
  }
  .fa-2x {
    font-size: 1em !important;
}
.heart p{
    margin-right: 5px;
}
  
  /* .heart2 {
    position: absolute;
    color: white;
    margin-top: -47px;
    margin-left: 3.5px;
    font-size: 25px;
  } */
  .heart1:hover {
    color: #901C1C;
    transition: color 1s;
  }
  
  .heart1 {
    position: relative;
  }
  

/* #galerie h1,
h4 {
    margin-left: 34px;
    font-weight: bold;
}

h2 {
    margin-left: 5%;}

#galerie h4 {
    margin-top: 23px;
    color: black;
} */

#galerie a {
    text-decoration: none;
}


.numberLikes{
    margin-right: 4px;
}
.like{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.silver:before {
    color: #c0c0c066;
}

/* .galerie-case h4 {
    font-size: 10px;
}

.galerie-case a,
.txt-populaire a {
    color: black;
    text-decoration: none;
} */



.galerie-case img
 {
    width: 30%;
     object-fit: cover; 
}

/* #galerie .galerie-case {
    background-color: white;
   
    border-radius: 15px;
   
} */

#galerie p {

        margin-top: 4px;
        margin-bottom: 8px;

}
/* .like p:hover{
    color: #911C1C;
} */
#galerie img ,video{
    height: 300px;
    width: 350px;
    border-radius: 5px;
     object-fit: cover; 
   
}
#message{
Height:170px;
}
.closeIconLightbox img{
    width: 30px;
    height: 30px;
    margin-left: 45%;
}
/* @media(max-width:1255px) {
    #galerie{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around    }
  
} */




/* @media(max-width:560px){
    .photograph-information{
        width: 65%;
        margin-left: 28%;
    }
    

}  */
@media(max-width:1600px){
    .info-rectangle{
        right: 0;
    }

}
@media(max-width:1194px){
    #galerie img ,video{
        width: 100%

    } 
    .galerie-case{
        width: 80%;
    }
    #galerie{
       
       gap: 2%;
    }
}

@media(max-width:1024px){
    #galerie{
        grid-template-columns: repeat(2, 1fr);
       justify-content: center;
       gap: 4%;
    }
    header,.choice {
        margin-left: 4%;
    }
    .photograph-header{
        width: 91%;
        margin-left: 4%;
    }
    .pLightbox {
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
    /* .imageLightbox img, .imageLightbox video{
      height: 300px;
    } */
}
@media(max-width:1007px) {
    .modal-contact input {
     margin-right: 26%;
     padding: 0px;
     width: 125px;
     height: 60px;
     font-size: 17px;
 
    }
    .photograph-header img {
     width: 150px;
     height: 150px;
     padding-top: 9px;
 }
 .photograph-information{
    width: 27%;
 }
 h3{
     font-size: 17px;
 }
 }
 @media(max-width:946px){
    .photograph-information{
        width: 34%;
     }
 }
@media(max-width:768px){
    .header-modal img {
        width: 20px;
        height: 20px;
    }
    .name {
        font-size: 27px;}
    #galerie{
        grid-template-columns: repeat(1, 1fr);
       justify-content: center;
       gap: 1%;
       padding-top: 10%;
    }
    .choice {
        margin-top: 0%;
    }
    
    .galerie-case{
width: 89%;
    } 
    .photograph-header{
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 9%;
        }
        .modal-contact button {
            margin-right: 0px;
            margin-top: 9%;
            width: 170px;
    }
    
    .photograph-information {
        text-align: center;
        width: 100%;
        
    }
    
    

} 
@media (max-width: 480px){
    #galerie {
        padding-top: 17%;
    }
    .info-rectangle{
        height: 44px;
        width: 250px;
    }
    .contactez-moi {
       font-size: 20px;
    }
    form label {
       
        font-size: 20px;
}
}
@media (max-width: 340px){
    .header-modal img {
        width: 16px;
    }
    .contactez-moi {
        font-size: 18px;
    }
    .header-modal {
       
        align-items: baseline;
}
.name {
    font-size: 22px;
}
 .contact_button{
    width: auto;
 }
}