@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 1350px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
h1 {
    color: #901C1C;
    margin-right: 4%;
}

.logo {
    height: 40px;
    margin-left: 7%;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-photographer{
    text-align: center;
cursor: pointer;
}
.photographer_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    justify-items: stretch;
    margin-top: 100px;

}

.photographer_section article {
    display: grid;
    grid-template-rows: 1fr;

    justify-items: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 32px;
}


.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

a :focus {
    outline: 2px solid #DB8876;

}

.information-photographer  h3 {
    color: #901C1C;
    margin-top: 0px;
}

.information-photographer h4 {
    margin-top: 4px;
}

.information-photographer p {
    color: #757575;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

@media(max-width: 932px) {
    .photographer_section {
        gap: 2%;

    }

    .information-photographer h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .photographer_section article h2 {

        font-size: 28px;
    }

    .logo {
        margin-left: 3%;
    }

    h1 {
        margin-right: 2%;
    }

}

@media(max-width: 768px) {
    .photographer_section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 596px) {
    .information-photographer h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 174px;
    }

}

@media (max-width: 480px) {
    .photographer_section {
        grid-template-columns: repeat(1, 1fr);
    }

    header {
        flex-direction: column;
        margin-top: 6%;
    }
    h1 {
        font-size: 25px;
    }
    .logo {
        height: 26px;
    }
    .information-photographer h4 {
        white-space: wrap;

        width: auto;
    }
}